{% extends "base.html" %}
	{% block content %}
		<h3>Edit Comment</h3>
		{% if error != "You can only edit your own comments" %}
			{% if error %}
				 <p class="alert alert-danger">{{error}}</p>
			{% endif %}
				<form method="post">
				<textarea name="comment">{{comment.comment}}</textarea>
				<br>
				<input type="submit" class="btn btn-success btn-lg" value="Comment">
				<span><a href="/blog/{{post.key().id()}}" class="btn btn-danger btn-lg" role="button">Cancel</a></span>
			</form>
		{% else %}
			<p class="error">{{error}}</p>
			<p> Go back to the <a href="/blog/{{post.key().id()}}">blog page</a></p>

		{% endif %}
		{% if not error %}
			
		{% else %}
			
		{% endif %}

	{% endblock %}