{% extends "base.html" %}
{% block nav %}
{% endblock %}

  {% block content %}
        <div class="col-md-8 col-md-offset-2">

          <form method="post">
            <fieldset>
                <legend>Sign In</legend>
                <div class="form-group">
                  <label for="uname">Username</label>
                  <input type="text" name="username" class="form-control" id="uname" value="{{username}}">
                </div>
                <div class="form-group">
                  <label for="pword">Password</label>
                  <input type="password" name="password" class="form-control" id="pword" value="">
                </div>
                {% if error %}
                  <div class="alert alert-danger">
                    {{error}}
                  </div>
                {% endif %}

                <input type="submit" class="btn btn-primary btn-block" value="Login">
            </fieldset>
          </form>
          <br>
          <p>Not a member? Sign Up now!</p>
          <a href="/signup" class="btn btn-info btn-block" role="button">Signup</a>
  {% endblock %}    
