{% extends "base.html" %}
<!-- post Subject &content -->
{% block content %}
  {{post.render() | safe}}
  <hr>
  {% if post.author == user.name %}
    <p>
      <a href="/blog/editpost/{{post.key().id()}}"><span>Edit Post | </span></a>
      <a href="/blog/deletepost/{{post.key().id()}}"><span> Delete Post</span></a>
    </p>
  {% endif %}
  <!-- count of likes, comments and like button-->
  <p>{{post.likes}} Likes  {{post.comment}} Comments</p>
  <form method="post">
    {% if like %}
      <input type="submit" class="btn btn-success btn-xs" name="like" value="Unlike">
    {% else %}
      <input type="submit" class="btn btn-primary btn-xs" name="like" value="Like">
    {% endif %}
  </form>

</div>
  </div>
  <!--Comment box Area -->
  <div class="row commentarea">
    <div class="col-md-7 col-md-offset-1">
        <div class="like-comment-error">
        {% if error %}
          <p class="alert alert-danger">{{error}}. 
          {% if error == "You should be logged in to comment and like" %}
            <a href="/login">Click here to login</a>
          {% endif %}
          </p>
        {% endif %}
        </div>
        <form method="post">
          <textarea class="comment-text-area" name="comment"></textarea>
    </div>
    <div class="col-md-4">
          <input type="submit" class="btn btn-success btn-lg comment-button" value="Comment">
        </form>
    </div>
  </div>
  <!--List of comments -->
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% for c in comment %}
          <div class="comment">
            <h4><strong>{{c.user_name}}</strong></h4>
            <p>{{c.render() | safe}}</p>
            {% if c.user_name == user.name %}
              <p>
              <a href="/blog/editcomment/{{post.key().id()}}+{{c.key().id()}}"><span>Edit Comment | </span></a>
              <a href="/blog/deletecomment/{{post.key().id()}}+{{c.key().id()}}"><span> Delete Comment </span></a>
            {% endif %}
            <hr>
          </div>
  {% endfor %}
{% endblock %}
  
 
  