{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  {% if post.author == user.name %}
    <a href="/blog/editpost/{{post.key().id()}}"><p>Edit Post</p></a>
    <a href="/blog/deletepost/{{post.key().id()}}"><p>Delete Post</p></a>
  {% endif %}
  <br>

  <p>{{post.likes}} Likes  {{post.comment}} Comments</p>
  <form method="post">
    {% if like %}
      <input name="like" type="submit" value="Unlike">
    {% else %}
      <input name="like" type="submit" value="Like">
    {% endif %}
  </form>

  {% if user %}
    <a href="/newcomment"><button>Comment</button></a>
  {% else %}
    <button>You should be logged in to Comment</button>
  {% endif %}

  <form method="post">
    <textarea name="comment">
      
    </textarea>

  <input type="submit">
  </form>
  <div class=error>
  <p>{{error}}</p>
  </div>

  {% for c in comment %}
    <div class="comment">
      <h6>{{c.user_name}}
      <p>{{c.comment}}</p>
      {% if c.user_name == user.name %}
        <a href="/blog/editcomment/{{post.key().id()}}+{{c.key().id()}}"><p>Edit Comment</p></a>
        <a href="/blog/deletecomment/{{post.key().id()}}+{{c.key().id()}}"><p>Delete Comment</p></a>
      {% endif %}
      <br>
    </div>
  {% endfor %}
{% endblock %}
  
 
  