<div class="post">
  <div class="post-heading">
    <div class="post-title">
     <a href="/blog/{{p.key().id()}}"> {{p.subject}}</a>
    </div>

    <div class="post-date">
      Author: {{p.author}} | {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <!-- Responsiveness for smaller screen to avoid overlapsing texts -->
  <div class="post-date-small">
    Author: {{p.author}} | {{p.created.strftime("%b %d, %Y")}}
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
