{% extends "base.html" %}

{% block hamburger%}
{% endblock %}

{% block nav %}
{% endblock %}

  {% block content %}
        <div class="col-md-6 col-md-offset-2">
          <form method="post">
            <fieldset>
              <legend>Sign Up</legend>
                <div class="form-group">
                  <label for="uname">Username</label>
                  <input type="text" name="username" class="form-control" id="uname" value="{{username}}">
                {% if error_username %}
                  <small class="form-text text-muted text-danger">
                    {{error_username}}
                  </small>
                {% endif %}
                </div>
                
                <div class="form-group">
                  <label for="pwrd">Password</label>
                  <input type="password" name="password" class="form-control" id="pwrd" value="">
                {% if error_password %}
                  <small class="form-text text-muted text-danger">
                    {{error_password}}
                  </small>
                {% endif %}
                </div> 
                
                <div class="form-group">
                  <label for="vrfy">Verify Password</label>
                  <input type="password" name="verify" class="form-control" id="vrfy" value="">
                {% if error_verify %}
                  <small class="form-text text-muted text-danger">
                    {{error_verify}}
                  </small>
                {% endif %}
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" class="form-control" id="email" value="{{email}}">
                {% if error_email %}
                  <small class="form-text text-muted text-danger">
                    {{error_email}}
                  </small>
                {% endif %}
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="SignUp">
            <fieldset>
          </form>
          <br>
          <p>Already a member? Sign In now!</p>
          <a href="/login" class="btn btn-info btn-block" role="button">SignIn</a>
        </div>
  {% endblock %}

     